<div class="formulario_linea">
    <p>
        <img src="/themes/custom/fucs/images/internacionalizacion/form_linea.png" alt="">
        FORMULARIO EN LÍNEA
    </p>
    <div class="form-linea">
        {{ formulario }}
    </div>

</div>
