<div class="preuniversitario">
    <div class="wrapper">
       
        <div class="preuniversitario-content">
            <h1>PREUNIVERSITARIO</h1>

            <section>
                <figure>
                {{ page.preuniversitario_content_1 }}
                </figure>
                <article>
                    {{ page.preuniversitario_content_2 }}
                </article>
                {{ page.preuniversitario_content_3 }}
            </section>
        </div>
        <div class="preuniversitario-botton">
            {{ page.preuniversitario_content_4 }}
        </div>
    </div>

</div>