<div class="wrapper drawde-content" >

    <div class="content-page" >
        {{ page.content }}

        <div class="historia-galeria" >
            <div class="principal-historia">
                {{ page.galeria_bienestar }}
            </div>
            <div class="galeria-historia">
                <h2><img src="/themes/custom/fucs/images/bienestar/titulo_galeria.png" alt="">HISTORIA</h2>
                <section>
                    {{ page.galeria_bienestar }}
                </section>
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>
    </div>


</div>

<style>
.drawde-content #block-preuniversitariocontenido4-2 .field--name-body section{
    /*display:none;*/
}
</style>