
<div class="continuada-contenidos semilleros-contenidos row" >
    <div class="wrapper">
        <div class="content-continuada">
            <div class="continuada-menu-contenido">
                {{ page.sub_menu }}
            </div>

            <div class="continuada-eventos">
                <div class="news">
                    <div class="">
                        <div class="tabs">
                            <a class="active menu-videos">VIDEOS</a>
                            <a class="menu-noticias">NOTICIAS</a>
                        </div>
                        <div class="sub-videos sub-seccion" >
                            {{ page.video }}
                        </div>
                        <div class="eventos noticias sub-noticias" style="display:none;">
                            {{ page.news }}
                        </div>


                    </div>
                </div>
                <div class="patrocinadores">
                    <article>
                        <p>
                            <img src="/themes/custom/fucs/images/semilleros/patrocinadores.png" alt="">
                            PATROCINADORES
                        </p>
                        <div class="right">
                            <span class="icon-right-open"></span>
                        </div>
                        <div class="left">
                            <div class="icon-left-open"></div>
                        </div>
                        <ul>
                            <li>
                                <img src="/themes/custom/fucs/images/semilleros/patrocinador_1.png" alt="">
                            </li>
                            <li>
                                <img src="/themes/custom/fucs/images/semilleros/patrocinador_2.png" alt="">
                            </li>
                            <li>
                                <img src="/themes/custom/fucs/images/semilleros/patrocinador_1.png" alt="">
                            </li>
                            <li>
                                <img src="/themes/custom/fucs/images/semilleros/patrocinador_1.png" alt="">
                            </li>
                            <li>
                                <img src="/themes/custom/fucs/images/semilleros/patrocinador_2.png" alt="">
                            </li>
                            <li>
                                <img src="/themes/custom/fucs/images/semilleros/patrocinador_1.png" alt="">
                            </li>
                            <li>
                                <img src="/themes/custom/fucs/images/semilleros/patrocinador_2.png" alt="">
                            </li>
                        </ul>
                    </article>
                </div>
                {{ page.sub_contenido_2 }}


            </div>
        </div>
    </div>
</div>